Repository ouzi-dev/whalers-of-the-moon: changes, and which Prow jobs are due for each by the changed paths.
All: build-kube-dind-image, build-dind-image, build-go-builder-image, build-helm-image, build-toolbox-image, build-athenacli-image, build-git-secret-scanner-image, build-python-builder-image, build-gcloud-builder-image, push-kube-dind-image, push-dind-image, push-go-builder-image, push-helm-image, push-toolbox-image, push-athenacli-image, push-git-secret-scanner-image, push-python-builder-image, push-gcloud-builder-image

Path conditions:
  build-kube-dind-image: any of: kube-dind/
  build-dind-image: any of: dind/
  build-go-builder-image: any of: go-builder/
  build-helm-image: any of: helm/
  build-toolbox-image: any of: toolbox/
  build-athenacli-image: any of: athenacli/
  build-git-secret-scanner-image: any of: git-secret-scanner/
  build-python-builder-image: any of: python-builder/
  build-gcloud-builder-image: any of: gcloud-builder/
  push-kube-dind-image: any of: kube-dind/
  push-dind-image: any of: dind/
  push-go-builder-image: any of: go-builder/
  push-helm-image: any of: helm/
  push-toolbox-image: any of: toolbox/
  push-athenacli-image: any of: athenacli/
  push-git-secret-scanner-image: any of: git-secret-scanner/
  push-python-builder-image: any of: python-builder/
  push-gcloud-builder-image: any of: gcloud-builder/

feat: upgrade go to 1.14.2 and the linter to 1.24.0 for the go builder image
  go-builder/Makefile
Due: build-go-builder-image, push-go-builder-image

feat: upgrade go to 1.14.2 and the linter to 1.24.0 for the go builder image (#43)
  go-builder/Makefile
Due: build-go-builder-image, push-go-builder-image

fix: update tf image
  toolbox/Makefile
Due: build-toolbox-image, push-toolbox-image

fix: update tf image (#44)
  toolbox/Makefile
Due: build-toolbox-image, push-toolbox-image

fix: changed helm image to add gh and yq
  helm/Dockerfile
  helm/Makefile
Due: build-helm-image, push-helm-image

fix: changed helm image to add gh and yq (#45)
  helm/Dockerfile
  helm/Makefile
Due: build-helm-image, push-helm-image

feat: upgrade toolbox deps
  toolbox/Makefile
Due: build-toolbox-image, push-toolbox-image

feat: upgrade toolbox deps (#46)
  toolbox/Makefile
Due: build-toolbox-image, push-toolbox-image

fix: update grep...
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image, push-toolbox-image

fix: update grep... (#47)
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image, push-toolbox-image

fix: update toolbox and go-builder image
  go-builder/Dockerfile
  go-builder/Makefile
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image, push-go-builder-image, push-toolbox-image

fix: update toolbox and go-builder image (#48)
  go-builder/Dockerfile
  go-builder/Makefile
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image, push-go-builder-image, push-toolbox-image

doc: add command to decrypt in docs
  README.md
Due: none

doc: add command to decrypt in docs (#49)
  README.md
Due: none

fix: update awscli to latest
  toolbox/Makefile
Due: build-toolbox-image, push-toolbox-image

fix: update awscli to latest (#50)
  toolbox/Makefile
Due: build-toolbox-image, push-toolbox-image

fix: update helm
  helm/Makefile
Due: build-helm-image, push-helm-image

fix: update helm (#52)
  helm/Makefile
Due: build-helm-image, push-helm-image

feat: update go builder and toolbox to 1.18.5 go version
  go-builder/Dockerfile
  go-builder/Makefile
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image, push-go-builder-image, push-toolbox-image

feat: update go builder and toolbox to 1.18.5 go version (#53)
  go-builder/Dockerfile
  go-builder/Makefile
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image, push-go-builder-image, push-toolbox-image

feat: update image builds to properly push to quay
  athenacli/cloudbuild-push.yaml
  dind/cloudbuild-push.yaml
  gcloud-builder/Makefile
  gcloud-builder/cloudbuild-push.yaml
  git-secret-scanner/Dockerfile
  git-secret-scanner/Makefile
  git-secret-scanner/cloudbuild-push.yaml
  go-builder/cloudbuild-push.yaml
  helm/Makefile
  helm/cloudbuild-push.yaml
  kube-dind/cloudbuild-push.yaml
  python-builder/cloudbuild-push.yaml
  toolbox/Makefile
  toolbox/cloudbuild-push.yaml
Due: build-kube-dind-image, build-dind-image, build-go-builder-image, build-helm-image, build-toolbox-image, build-athenacli-image, build-git-secret-scanner-image, build-python-builder-image, build-gcloud-builder-image, push-kube-dind-image, push-dind-image, push-go-builder-image, push-helm-image, push-toolbox-image, push-athenacli-image, push-git-secret-scanner-image, push-python-builder-image, push-gcloud-builder-image
